#header {
    background-color: cornflowerblue;
    border-bottom: 3px solid gray;
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

#google-contacts {
    
}

.contact-image-div {
    padding: 5px;
}

.concact-image-img {
    border: 2px solid cornflowerblue;
}

.contact-information {
    padding-top: 10px;
    padding-bottom: 10px;
}


#contacts-scroll-index {
    background-color: antiquewhite
}

.index-letter {
    display: block;
}