.bg-nav {
    background-color: #beb9a5;
}

.navbar {
    border-bottom: 3px solid #292927;
}

.carousel-caption {
    background-color: #fafbed;
    opacity: .7;
    color: darkmagenta;
}

.alert-extrapadding{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}